.winner-header {
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 0px;
}

.game-wrapper {
  align-items: center;
}

.game-table {
  font-size: 7pt;
  border: 1px gray solid;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
}

.game-table-header {
  font-weight: bolder;
  font-size: 8pt;
  vertical-align: baseline;
}

.tight {
  width: 10px !important;
}

td.winner {
  background-color: #afe2af;
}
