<h3 class="winner-header">{{game.date}} - vinnare: {{game.winner.name}} ({{game.winner.points}})</h3>
<div class="game-wrapper">
  <table class="game-table">
    <tr>
      <th class="game-table-header">namn</th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
        </div>
      </th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
        </div>
      </th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
        </div>
      </th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
        </div>
      </th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
        </div>
      </th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-circle" class="tight"></mat-icon>
        </div>
      </th>
      <th>
        <div>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
          <mat-icon fontSet="fa" fontIcon="fa-minus" class="tight"></mat-icon>
        </div>
      </th>
      <th class="game-table-header">summa</th>
    </tr>
    <tr *ngFor="let row of game.rows" >
      <td [ngClass]="winnerClass(row)">{{row.player}}</td>
      <td [ngClass]="winnerClass(row)">{{row.ss}}</td>
      <td [ngClass]="winnerClass(row)">{{row.sl}}</td>
      <td [ngClass]="winnerClass(row)">{{row.ll}}</td>
      <td [ngClass]="winnerClass(row)">{{row.sss}}</td>
      <td [ngClass]="winnerClass(row)">{{row.ssl}}</td>
      <td [ngClass]="winnerClass(row)">{{row.sll}}</td>
      <td [ngClass]="winnerClass(row)">{{row.lll}}</td>
      <td [ngClass]="winnerClass(row)">{{row.sum}}</td>
    </tr>
  </table>
</div>
