.max-height {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50pt;
  font-weight: bolder;
  margin-bottom: 30px;
}

.new-spel {
  font-size: 28pt;
  padding: 10px;
}

.number-of-players {
  background-color: #ffffff;
  min-height: 100%;
  font-size: 28pt;
  width: 100px;
}
