.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.flex {
  display: flex;
}

.login {
  min-height: 95%;
  align-items: center;
  justify-content: center;
}

.logged-in-as {
  color: rebeccapurple;
  font-weight: bolder;
  font-size: 12pt;
  padding-left: 5px;
}

.logout {
  text-align: start;
}

.max-height {
  min-height: 95%;

  align-items: center;
  justify-content: center;
}

.title {
  font-weight: bolder;
  margin-bottom: 30px;
}

.new-game {
  padding: 10px;
}

.number-of-players-wrapper {
  display: flex;
}

.number-of-players {
  background-color: #ffffff;
  min-height: 100%;
  font-size: 28pt;
  width: 100px;
}

.stats {
  text-align: end;
}

.board-wrapper {
  width: 95%;
  height: 95%;
}
