<table class="result-table">
  <thead class="is-fullwidth" style="display:table-header-group">
  <tr>
    <th>Namn</th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
    </th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
    </th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
    </th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
    </th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
    </th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-circle"></mat-icon>
    </th>
    <th>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
      <mat-icon fontSet="fa" fontIcon="fa-minus"></mat-icon>
    </th>
    <th class="content">Summa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of [].constructor(players); let row = index">
    <td>
      <input matInput type="text" class="input-name"
             [(ngModel)]="playerNames[row]">
    </td>
    <td *ngFor="let item of [].constructor(7); let col = index">
      <input matInput [ngModel]="getCell(row, col)"
             (ngModelChange)="rows[row][col] = $event"
             class="input-value" type="number">
    </td>
    <td>
      <div class="sum">{{sum(row)}}</div>
    </td>
  </tr>
  </tbody>
</table>
<div class="buttons">
  <button *ngIf="lastGamePlayed()" (click)="saveGame()" mat-raised-button color="basic" class="save-result">Spara
    resultat
  </button>
</div>
