.result-table {
  font-size: 17pt;
  border-spacing: 7px;
}

.input-name {
  font-size: 20pt;
  width: 100px;
}

.input-value {
  font-size: 20pt;
  width: 80px;
}

.sum {
  font-size: 20pt;
  font-weight: bolder;
}

.buttons {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.save-result {
  font-size: 10pt;
}

.stats {
  height: 100%;
  width: 100%;
  vertical-align: top;
  display: block;
}
