/* You can add global styles to this file, and also import other style files */

@import "~@fortawesome/fontawesome-free/css/all.css";

html, body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-color: #3298dc !important;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.list-wrapper {
  text-align: left;
}
